<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ws.sql1234">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainMenu" />
        <activity android:name=".SearchListView" />
        <activity android:name=".ViewBookDetails" />
        <activity android:name=".BookRenewal" />
        <activity android:name=".AdminMainMenu" />
        <activity android:name=".RegisterMember" />
        <activity android:name=".SearchClv" />
        <activity android:name=".RegisterBook" />
        <activity android:name=".AdminBorrow" />
        <activity android:name=".AdminReturn" />
        <activity android:name=".Alarmmanager" />

        <receiver android:name=".AlarmReceiver" />

        <activity android:name=".AdminCurrentList" />
        <activity android:name=".SubmitMreport" />
        <activity android:name=".DmProcess" />
        <activity android:name=".Dmprocess2" />
        <activity android:name=".asdasd" />
        <activity android:name=".DmReport" />
        <activity android:name=".DeleteBook" />
        <activity android:name=".AdminBookdetail" />
        <activity android:name=".CirculationTask" />
        <activity android:name=".DMrelated" />
        <activity android:name=".DeleteMember" />
        <activity android:name=".MemberManage" />
        <activity android:name=".BookManage"></activity>
    </application>

</manifest>